<script id="formView" type="text/template">
	<form>
		<fieldset>
			<legend>New Product</legend>
			<label>Product name</label>
			<input type="text" placeholder="Give it a name" id="name">
			<label>Product price</label>
			<input type="text" placeholder="Add a number value" id="price">
			<div class="clearfix"></div>
			<button class="btn">Create</button>
		</fieldset>
	</form>
</script>
<script id="productsView" type="text/template">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</script>
<script id="productView" type="text/template">
	<td>1</td>
	<td><%= name %></td>
	<td><%= price %></td>
	<td><button class="btn btn-info btn-small" data-action="edit">Edit</button> <button class="btn btn-danger btn-small" data-action="remove">Remove</button></td>
</script>
<script id="noProductsView" type="text/template">
		<td colspan="4"><h2>No Products</h2></td>
</script>
<script id="totalsView" type="text/template">
	<p>Average price: <b><%= average %></b></p>
	<p>Total price: <b><%= total %></b></p>
</script>
