# Node packages
node_modules/

# Bower components
src/components/

# Coffee map
*.map

# Temporary files
*.tmp

# Non template images
app/images/
!app/images/.gitkeep

# Wordpress
app/wp-config.php
app/wp-content/uploads/

# Idea
.idea/
